{% extends "layout.html" %}
{% block content %}

<h2> Dashboard - {{ name}}
</h2>

<div class="row list-player">
    <div class="col-sm-6">
        <h2>Informations générales</h2>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="col-sm-3 charts-infos">
        <!-- <canvas id="profit-level" width="400" height="400"></canvas> -->
    </div>
    <div class="col-sm-3 charts-infos">
        <!-- <canvas id="levels" width="400" height="400"></canvas> -->

    </div>
</div>

{% endblock %}
