{% extends "layout.html" %} {% block content %}

<h2>Dashboard</h2>

<div class="row">
  <div class="col-sm-6">
    <h2>Liste des joueurs existants</h2>
    <ul>
      {% for name in names %}
      <li>
        <a href="{{ url_for('dashboard_description', name=name) }}">{{ name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-3 charts-infos">
    <canvas id="profit-level" width="400" height="400"></canvas>
  </div>
  <div class="col-sm-3 charts-infos">
    <canvas id="levels" width="400" height="400"></canvas>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-3 charts-infos">
    <canvas id="victory-avg" width="400" height="400"></canvas>
  </div>
  <div class="col-sm-3">
    <!-- <canvas id="levels" width="400" height="400"></canvas> -->
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-3.5.1.min.js"
integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
crossorigin="anonymous"
></script>
<script src="/js/charts.js"></script>

{% endblock %}